<div id="navigation">
  <a href="/">Traveling Salesman 1.0 Beta 1</a>
</div>
<div id="directions-panel"></div>
<div id="map-canvas" style='min-width: 100%; height: 100%;'></div>
<div id="modal" class="hidden">
  <h1>We're in Beta!</h1>
  <p>What this means is, we're still working around Google Map's API rate limiting. We haven't fully optimized a work around, so it roughly takes 30 seconds to find the best route for a 4 point trip.
  In the future we hope to solve these problems.
  </p>
  <p>Wait patiently, we're currently finding the shortest route for you!
  </p>
</div>
<div id="overlay" class="hidden">
</div>

