<%= render 'map' %>
<ul>
  <% @trip.best_route.each do |pair| %>
    <li>
      <% pair.each do |point| %>
        <%= point.address %>
        <br/>
        <%= @trip.time(pair) %>
        <br/>
      <% end %>
    </li>
  <% end %>
</ul>

