// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Courier", sans-serif;
}

form {
  z-index: 6;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

input[type=submit] {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

#directions-panel {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 5px;
  z-index: 6;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}
#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: grey;
} 